{% extends "base.html" %}

{% block content %}

	<h2>Logged in as {{ current_user.username }}!</h2>
    <h2>Medicine Stock in Pharmacy</h2>
	<table>
         <thead>
            <tr>
               	<th>MedID</th>
		        <th>MedName</th>
               	<th>Manufacturer Id</th>
               	<th>Manufacturer Name</th>
               	<th>Available Quantity</th>
	       	    <th>Price</th>
	       	    <th>Expiry Date</th>
            </tr>
         </thead>

         <tbody>
            {% for p in medicinestock %}
               <tr>
                  <td>{{ p.medId }}</td>
                  <td>{{ p.medName }}</td>
                  <td>{{ p.manufId }}</td>
                  <td>{{ p.manufName }}</td>
		          <td>{{ p.availQnty }}</td>
		          <td>{{ p.CO1 }}</td>
		          <td>{{ p.expDate }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br>
	<p><a href = "{{ url_for('addToMedStock') }}">Add meds to MedStock (Order) </a></p>
    <br>
    <p><a href = "{{ url_for('customerOrder') }}">Sell to Customer </a></p>
    <br>
    <p><a href = "{{ url_for('previousOrders') }}">Check Previous Orders </a></p>

{% endblock %}

